Docs Templates KT/SGP_WEB_docs/SGP_WEB_docs/docs_auxiliares/Integração/wsdl/SRVC_ProcessTickets.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://www.vale.com/CO2012003_02" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.vale.com/CO/20120003/02/SCHM_ProcessTickets" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://www.vale.com/CO2012003_02">
    <wsdl:types>
        <xs:schema xmlns="http://www.vale.com/CO/20120003/02/SCHM_ProcessTickets" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vale.com/CO/20120003/02/SCHM_ProcessTickets" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="ProcessTicketsAck">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TipoMensagem">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                    <xs:enumeration value="TCFL"/>
                                    <xs:enumeration value="SYNCHRO"/>
                                    <xs:enumeration value="ELO"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="IdentificadorSistema">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="NumeroProvisorioNFSistemaOrigem">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="TipoSolicitacao">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="NumeroSolicitacaoTCFL">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:totalDigits value="13"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="StatusProcessamento">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                    <xs:enumeration value="SUCESSO"/>
                                    <xs:enumeration value="FALHA"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Exception" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ExceptionType">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="1"/>
                                                <xs:enumeration value="N"/>
                                                <xs:enumeration value="I"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionCode">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionMessage">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProcessTicketsConfirmation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StatusProcessamento">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                    <xs:enumeration value="FALHA"/>
                                    <xs:enumeration value="SUCESSO"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Exception" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ExceptionType">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="1"/>
                                                <xs:enumeration value="N"/>
                                                <xs:enumeration value="I"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionCode">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionMessage">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionDetail" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProcessTicketsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identificadorSistema">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="numeroProvisorioNFSistemaOrigem">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="tipoSolicitacao">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="codigoAcao">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="dataEmissaoDocumento" type="xs:date"/>
                        <xs:element name="numeroDocumento">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:totalDigits value="12"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="SerieSubserieDocumento">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="6"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="codigoNaturezaOperacao" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="20"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="codigoEspecieDof">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="20"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="indicadorEntradaSaida">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="situacaoDocumento">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="1"/>
                                    <xs:enumeration value="S"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="cnpjEmitente">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="14"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="cnpjDestinatario">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="14"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="codigoIBGEOrigem">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="codigoIBGEDestino" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoImpostoIncidencia">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="4"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="indicadorCalculoEncargo">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="indicadorCalculoImposto">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="OutrasInformacoes">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="codigoUnidadeNegocio">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="1"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="codigoSubUnidadeNegocio">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="codigoCondicaoServico">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="codigoLocalEmissor">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="codigoMoeda">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="3"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="CondicaoPagamento">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="30"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ItemSolicitacao">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TipoDetalheItemSolicitacao">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="1"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="valorDocumento">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="21"/>
                                                <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="valorIcms">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="21"/>
                                                <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="valorPis">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="21"/>
                                                <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="valorCofins">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="21"/>
                                                <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="aliquotaCofins">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="19"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="aliquotaIcms">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="19"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="aliquotaPis">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="19"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Cfop" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="8"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="codigoPrestacaoServico" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="30"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="quantidadeItem">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="25"/>
                                                <xs:fractionDigits value="6"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ComponentePreco">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TipoComponente">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="1"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="CodigoComponente">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ValorSemImposto">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="17"/>
                                                <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="QuantidadeItens">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="11"/>
                                                <xs:fractionDigits value="3"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProcessTicketsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TipoMensagem">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                    <xs:enumeration value="TCFL"/>
                                    <xs:enumeration value="SYNCHRO"/>
                                    <xs:enumeration value="ELO"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="IdentificadorSistema">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="NumeroProvisorioNFSistemaOrigem">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="TipoSolicitacao">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="StatusProcessamento">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="DataProcessamento" type="xs:date"/>
                        <xs:element name="SerieSubserieNotaFiscal" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="6"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="SUCESSO" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="NumeroSolicitacaoTCFL" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:totalDigits value="13"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="RetornoSynchro" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="NumeroNotaFiscal">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="12"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="FALHA" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TipoFalha">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="1"/>
                                                <xs:enumeration value="I"/>
                                                <xs:enumeration value="N"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Codigo">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Mensagem">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="SRVC_ProcessTickets">
        <wsdl:port name="ProcessTicketsEndpoint" binding="tns:ProcessTicketsEndpointBinding">
            <soap:address location="http://localhost:49496/Service/ProcessTickets"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="OperationProcessRequestTicket">
            <wsdl:input message="tns:ProcessTicketsRequest"/>
            <wsdl:output message="tns:ProcessTicketsRequestConfirmation"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProcessTicketsEndpointBinding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OperationProcessRequestTicket">
            <soap:operation style="document" soapAction="/ProcessRequestTicket"/>
            <wsdl:input>
                <soap:body use="literal" parts="Request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Confirmation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ProcessTicketsRequest">
        <wsdl:part name="Request" element="ns0:ProcessTicketsRequest"/>
    </wsdl:message>
    <wsdl:message name="ProcessTicketsRequestConfirmation">
        <wsdl:part name="Confirmation" element="ns0:ProcessTicketsConfirmation"/>
    </wsdl:message>
</wsdl:definitions>