Docs Templates KT/SGP_WEB_docs/SGP_WEB_docs/docs_auxiliares/Integração/Integrações/RMD - SGP Web x TCFL/wsdl/WSDL_DailyMovement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.vale.com/GlobalID" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.vale.com/GlobalId/SCHM_DailyMovement.xsd" name="Untitled" targetNamespace="http://www.vale.com/GlobalID">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.vale.com/GlobalId/SCHM_DailyMovement.xsd" targetNamespace="http://www.vale.com/GlobalId/SCHM_DailyMovement.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="AckDailyMovement">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TipoMensagem" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="IdentificadorSistema">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="NumeroProvisorioNFSistemaOrigem" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="StatusProcessamento">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                    <xs:enumeration value="SUCESSO"/>
                                    <xs:enumeration value="FALHA"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Exception" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ExceptionType">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="1"/>
                                                <xs:enumeration value="I"/>
                                                <xs:enumeration value="N"/>
                                                <xs:enumeration value="T"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionCode">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionMessage">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConfirmationDailyMovement">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StatusProcessamento">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                    <xs:enumeration value="SUCESSO"/>
                                    <xs:enumeration value="FALHA"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Exception" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ExceptionType">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="1"/>
                                                <xs:enumeration value="I"/>
                                                <xs:enumeration value="N"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionCode">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionMessage">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RequestDailyMovement">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IdentificadorSistema">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="NumeroProvisorioNFSistemaOrigem">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="TipoSolicitacao">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoAcao">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoUnidadeNegocio">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoSubUnidadeNegocio">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoCondicaoServico">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoLocalEmissor">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoMoeda">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CnpjEmitente">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="14"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CnpjDestinatario">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="14"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CnpjRemetente">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="14"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="DataMovimento" type="xs:date"/>
                        <xs:element name="SerieSubserieNotaFiscal" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="6"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="IndicadorCalculoImposto">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="IndicadorCalculoEncargo">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoNaturezaOperacao">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="6"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoEspecieDOF" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="20"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoIBGEOrigem" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="60"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodigoIBGEDestino" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="60"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Reducao" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="NumeroCupomInicial">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="NumeroCupomFinal">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ValorTotalInicial">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="17"/>
                                                <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ValorTotalFinal">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="17"/>
                                                <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ContadorReducaoZ">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="NumeroCaixa" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="6"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ContadorReinicioOperacao" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="3"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ValorTotalPis">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="21"/>
                                                <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ValorTotalCofins">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="21"/>
                                                <xs:fractionDigits value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Equipamento">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Codigo">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:maxLength value="3"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="Descricao">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:maxLength value="255"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="NumeroSerie">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:maxLength value="20"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="ModeloECF" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:maxLength value="255"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="CodigoMDOFEquipamento">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:maxLength value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="SituacaoFiscal" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SituacaoTributaria" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:maxLength value="4"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="TotalAcumulado" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="17"/>
                                                            <xs:fractionDigits value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="NumeroTotalizador" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="CupomFiscal" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="NumeroCupom">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="6"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="DataEmissao" type="xs:date"/>
                                                <xs:element name="NomeAdquirenteI" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:maxLength value="50"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="MunicipioOrigem" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="7"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="MunicipioDestino" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="7"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="ItemCupomFiscal" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="NumeroItemCupom">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:totalDigits value="3"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="CodigoMercadoria" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:maxLength value="30"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="Quantidade" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:totalDigits value="15"/>
                                                                        <xs:fractionDigits value="2"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="ValorUnitario" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:totalDigits value="15"/>
                                                                        <xs:fractionDigits value="2"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="ValorBaseICMS" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:totalDigits value="15"/>
                                                                        <xs:fractionDigits value="2"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="SituacaoTributariaICMS" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:maxLength value="4"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="ValorICMS" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:totalDigits value="14"/>
                                                                        <xs:fractionDigits value="2"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="SituacaoCupom" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:maxLength value="1"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="CodigoCFOP" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:maxLength value="8"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="ValorPIS">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:totalDigits value="21"/>
                                                                        <xs:fractionDigits value="2"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="ValorCOFINS">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:totalDigits value="21"/>
                                                                        <xs:fractionDigits value="2"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="ValorBasePIS" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:totalDigits value="21"/>
                                                                        <xs:fractionDigits value="2"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="ValorBaseCofins" minOccurs="0">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:decimal">
                                                                        <xs:totalDigits value="21"/>
                                                                        <xs:fractionDigits value="2"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ResponseDailyMovement">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TipoMensagem" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="IdentificadorSistema">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="NumeroProvisorioNFSistemaOrigem" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="TipoSolicitacao">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="StatusProcessamento">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="7"/>
                                    <xs:enumeration value="SUCESSO"/>
                                    <xs:enumeration value="FALHA"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="DataProcessamento" type="xs:date" minOccurs="0"/>
                        <xs:element name="SerieSubserieNotaFiscal" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="6"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Sucesso" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="NumeroSolicitacaoTCFL">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="13"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="RetornoSynchro" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="NumeroNotaFiscal">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="12"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Exception" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ExceptionType">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="1"/>
                                                <xs:enumeration value="I"/>
                                                <xs:enumeration value="N"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionCode">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExceptionMessage">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="SRVC_DailyMovement">
        <wsdl:port name="DailyMovementProcess" binding="tns:DailyMovementProcessBinding">
            <soap:address location="http://G73:49435/Services/DailyMovement/DailyMovementProcess"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="DailyMovementProcess">
            <wsdl:input message="tns:Request"/>
            <wsdl:output message="tns:Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DailyMovementProcessBinding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DailyMovementProcess">
            <soap:operation style="document" soapAction="/Business/Service/SRVC_DailyMovement.serviceagent/DailyMovementProcess/DailyMovementProcess"/>
            <wsdl:input>
                <soap:body use="literal" parts="Request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Confirmation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Request">
        <wsdl:part name="Request" element="ns0:RequestDailyMovement"/>
    </wsdl:message>
    <wsdl:message name="Response">
        <wsdl:part name="Confirmation" element="ns0:ConfirmationDailyMovement"/>
    </wsdl:message>
</wsdl:definitions>